@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-900 text-white font-poppins;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .loader {
    width: 36px;
    aspect-ratio: 1;
    display: grid;
    border: 4px solid #0000;
    border-radius: 50%;
    animation: l15 1s infinite linear;
    @apply border-r-purple-400;
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    margin: 2px;
    border: inherit;
    border-radius: 50%;
    animation: l15 2s infinite;
  }
  .loader::after {
    margin: 8px;
    animation-duration: 3s;
  }
  @keyframes l15 {
    100% {
      transform: rotate(1turn);
    }
  }
  /* Uploadthing dropzone */
  .course-image-dropzone {@apply grid text-center py-8 px-2;}
  .course-image-dropzone button svg {@apply max-w-6;}
  .course-image-dropzone div {@apply text-sm;}

  .dropzone {
    @apply px-4 py-12 text-center border border-dashed bg-black rounded-lg;
  }
}



.ql-toolbar.ql-snow {
  font-family: "Poppins", sans-serif!important;
}
.ql-editor {
  min-height: 200px;
}
